
extends layout

block content
  h1= title
  p Welcome to #{title}
  each value, index in _secret
    div.secrets
      div.title
        h1=value.title
      div.secret
        p #{value.secret}
      
