doctype html
- var _secret = secret
- var _feed = feed
- var _list = feedList
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div( class="menu")
			ul
				li 
					a(href="/manager", title="Contact")  Chanel manager
				li
					a(href="/", title="Home") Home
				li
					a(href="/feed", title="feed") Rss Feed
		
	div( class="conainer")				
		block content			
	
	div( class="footer")				

