
extends layout

block content
  h1= title
  form(method="GET" action="/manager/send")
    div.input
      span.label Rss Chanel name:
      input(type="text", name="name")
    div.input
      span.label Rss Chanel link:
      input(type="text", name="Chanel")
    div.input
      span.label Rss Chanel description
      input(type="text", name="desc")   
    div.input
      span.label Rss Chanel category
      input(type="text", name="cat") 
    div.actions
      input(type="submit", value="add")